<div id="header">
  <div id="flag"></div>
  <div id="logo_txt">
    <h2><%= t "niei" %></h2>
    <h3><%= t "rb" %></h3>
  </div>
  <div id="locale">
    <span><%= link_to_unless_current "ENG", params.merge({locale: "en"}) %></span>
    <span><%= link_to_unless_current "РУС", params.merge({locale: "ru"}) %></span>
    <span><%= link_to_unless_current "БЕЛ", params.merge({locale: "be"}) %></span>
  </div>
</div>
<div id="redline"></div>
<div id="greenline"></div>