<h3><%= t "news" %></h3>
<div class="sidebar-nav">
  <ul>
    <li>
      <p>Header 1</p>
      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      <a href="#"><%= t "readmore" %></a>
    </li>
    <li>
      <p>Header 1</p>
      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      <a href="#"><%= t "readmore" %></a>
    </li>
    <li>
      <p>Header 1</p>
      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      <a href="#"><%= t "readmore" %></a>
    </li>
    <li>
      <p>Header 1</p>
      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      <a href="#"><%= t "readmore" %></a>
    </li>
    <li>
      <p>Header 1</p>
      <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      <a href="#"><%= t "readmore" %></a>
    </li>
  </ul>
</div>