<div class="jcarousel">
  <ul>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
  </ul>
</div>
<p class="jcarousel-pagination"></p>
