<div class="jcarousel">
  <ul>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
    <li><%= image_tag("slider01.jpg") %></li>
  </ul>
</div>
<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
<a href="#" class="jcarousel-control-next">&rsaquo;</a>
<p class="jcarousel-pagination">
</p>
