<!DOCTYPE html>
<html>
<head>
  <title>Test1</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="shell">
  <div class="border">
    <%= render "layouts/header" %>
    <div id='cssmenu'>
      <%= render "layouts/menu" %>
    </div>
    <div class="jcarousel-wrapper">
      <%= render "layouts/slider" %>
    </div>
    <div id="main">
      <div id="content" class="left">
        <%= yield %>
      </div>
      <div id="sidebar" class="right">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="shadow-l"></div>
    <div class="shadow-r"></div>
    <div class="shadow-b"></div>
  </div>
  <%= render "layouts/footer" %>
</div>
</body>
</html>
